@model Simav.Models.Olumler

@{
    ViewData["Title"] = "YeniOlum";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textArea.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/HaberlerCheckBoxJS.js"></script> 
<h1>@ViewBag.Baslik</h1>

<h4>Olumler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="YeniOlum">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdSoyad" class="control-label"></label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea id="local-upload" asp-for="Icerik" class="form-control" ></textarea>
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group" data-date-time="dd-mm-yyyy">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Onay" id="hdOnayla" type="hidden" value="1" class="form-check-input">
                <input id="cbOnayla" checked="checked" type="checkbox" />
                <label asp-for="Onay" class="checkLabel">Onayla</label>
            </div>
            <div class="form-group">
                <label asp-for="Cami" class="control-label"></label>
                <input asp-for="Cami" class="form-control" />
                <span asp-validation-for="Cami" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mezarlik" class="control-label"></label>
                <input asp-for="Mezarlik" class="form-control" />
                <span asp-validation-for="Mezarlik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saat" class="control-label"></label>
                <input asp-for="Saat" type="time" id="appt" name="appt" min="00:00" max="23:59" required>
                <span asp-validation-for="Saat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

