@model Simav.Models.Haberler

@{
    ViewData["Title"] = "HaberGuncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textArea.js"></script>
<script src="~/js/HaberlerCheckBoxJS.js"></script>
<h1>HaberGuncelle</h1>

<h4>Haberler</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="HaberGuncelle">
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea asp-for="Icerik" class="form-control" id="local-upload"></textarea>
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Onay" id="hdOnayla" type="hidden" value="0" class="form-check-input">
                <input id="cbOnayla" checked="checked" type="checkbox" />
                <label asp-for="Onay" class="checkLabel">Onayla</label>
            </div> 
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <label asp-for="HaberlerId" class="control-label" style="visibility:hidden"></label>
                <input asp-for="HaberlerId" class="form-control" style="visibility:hidden"/>
                <span asp-validation-for="HaberlerId" class="text-danger" style="visibility:hidden"></span>
            </div>
            <div class="form-group">
                <label asp-for="KaydedenKulId" class="control-label" style="visibility:hidden"></label>
                <input asp-for="KaydedenKulId" class="form-control" style="visibility:hidden"/>
                <span asp-validation-for="KaydedenKulId" class="text-danger" style="visibility:hidden"></span>
            </div>
            <div class="form-group">
                <label asp-for="KayıtTarihi" class="control-label" style="visibility:hidden"></label>
                <input asp-for="KayıtTarihi" class="form-control" style="visibility:hidden"/>
                <span asp-validation-for="KayıtTarihi" class="text-danger" style="visibility:hidden"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

