<!-- #include file="ust.asp" -->

			<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="default.asp">Ana Sayfa</a></li>
									<li class="active">İletişim</li>
									<li class="active">İletişim</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>İletişim</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container" style="background-color:#FFFFFF;">


					


					<div class="row">
						
						
						
						
						<div class="col-md-12">

							

							<h4>Simav <strong>Belediyesi</strong></h4>
							<ul class="list-unstyled">
								<li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Tabakhane Mah. Belediye Meydanı No:9 SİMAV/KÜTAHYA</li>
								<li><i class="fa fa-phone"></i> <strong>Telefon:</strong> (274) 513-7006 - 07 - 08 - 09</li>
								<li><i class="fa fa-fax"></i> <strong>Fax:</strong> (274) 513 70 10</li>
								<li><i class="fa fa-envelope"></i> <strong>E-Posta:</strong> <a href="mailto:info@simav.bel.tr">info@simav.bel.tr</a></li>
							</ul>

							<hr>

							<h4>Eynal <strong>Kaplıcaları</strong></h4>
							<ul class="list-unstyled">
								<li><i class="fa fa-phone"></i> <strong>Telefon:</strong> (274) 547 20 01</li>
								<li><i class="fa fa-fax"></i> <strong>Fax:</strong> (274) 547 20 13</li>
								<li><i class="fa fa-envelope"></i> <strong>E-Posta:</strong> <a href="mailto:info@eynalkaplicalari.com.tr">info@eynalkaplicalari.com.tr</a></li>
								<li><i class="fa fa-globe"></i> <strong>Web Site:</strong> <a href="http://www.eynalkaplicalari.com.tr">www.eynalkaplicalari.com.tr</a></li>
							</ul>

						</div>
						
						

					</div>

				</div>

			</div>


<!-- #include file="alt.asp" -->