@model Simav.Models.Sayfalar

@{
    ViewData["Title"] = "SayfaGuncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SayfaGuncelle</h1>

<h4>Sayfalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SayfaGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SayfaId" />
            <div class="form-group">
                <input asp-for="Durum" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="KayıtTarihi" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="KaydedenKulId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="SayfaAdi" class="control-label"></label>
                <input asp-for="SayfaAdi" class="form-control" />
                <span asp-validation-for="SayfaAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="SayfaTipi" for="validationServer04" class="form-label">Unvan</label>
            <select asp-for="SayfaTipi" class="form-select is-invalid" id="validationServer04" required>
              <option selected disabled value="">Unvan</option>
              <option value="1">Kurum</option>
              <option value="2">Ilcemiz</option>
              <option value="3">Iletisim</option>
            </select>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea id="local-upload" asp-for="Icerik" class="form-control" ></textarea>
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Yayınla" id="hdOnayla" type="hidden" value="@Model.Yayınla" class="form-check-input">
                <input id="cbOnayla" checked="@Convert.ToBoolean(Model.Yayınla)" type="checkbox" />
                <label asp-for="Yayınla" class="checkLabel">Yayınla</label>
            </div> 
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Listeye Geri Dön</a>
</div>

