@model Simav.Models.Sayfalar

@{
    ViewData["Title"] = "YeniSayfa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textArea.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/HaberlerCheckBoxJS.js"></script>
<h1>@ViewBag.Baslik</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="YeniSayfa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SayfaAdi" class="control-label"></label>
                <input asp-for="SayfaAdi" class="form-control" />
                <span asp-validation-for="SayfaAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="SayfaTipi" for="validationServer04" class="form-label">Unvan</label>
            <select asp-for="SayfaTipi" class="form-select is-invalid" id="validationServer04" required>
              <option selected disabled value="">Unvan</option>
              <option value="1">Kurum</option>
              <option value="2">Ilcemiz</option>
              <option value="3">Iletisim</option>
              <option value="4">AnaSayfa</option>
            </select>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea id="local-upload" asp-for="Icerik" class="form-control" ></textarea>
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Yayınla" id="hdOnayla" type="hidden" value="1" class="form-check-input">
                <input id="cbOnayla" checked="checked" type="checkbox" />
                <label asp-for="Yayınla" class="checkLabel">Yayınla</label>
            </div> 
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>

