@model Simav.Models.Etkinlikler

@{
    ViewData["Title"] = "EtkinlikGuncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/textArea.js"></script> 
<h1>EtkinlikGuncelle</h1>

<h4>Etkinlikler</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="EtkinlikGuncelle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EtkinlikId" />
            <div class="form-group">
                <input asp-for="Durum" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="KayıtTarihi" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="KaydedenKulId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="EtkinlikAdi" class="control-label"></label>
                <input asp-for="EtkinlikAdi" class="form-control" />
                <span asp-validation-for="EtkinlikAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisaAciklama" class="control-label"></label>
                <input asp-for="KisaAciklama" class="form-control" />
                <span asp-validation-for="KisaAciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea id="local-upload" asp-for="Icerik" class="form-control" ></textarea>>
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="formFile" asp-for="Resim" class="form-label">Dosya Seç</label>
                <input name="uploaded_File" asp-for="Resim" class="form-control" type="file" id="formFile" accept="image/*">
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>

