<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="default.asp">Ana Sayfa</a></li>
									<li class="active">Kurumsal</li>
									<li class="active">Encümen Üyeleri</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Encümen Üyeleri</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container" style="background-color:#FFFFFF;">

					<div class="container">
					<div class="row">

						<ul class="team-list sort-destination" data-sort-id="team">
							<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									
										<img class="img-responsive" alt="" src="~/img/adilbicer.png">
										<span class="thumb-info-title">
											<h3 class="name" style="font-size:16px;">Av. ADİL BİÇER </h3>
												<div class="role" style="font-size:15px;">Belediye Başkanı</div>	
										
										</span>
								</div><!-- .employee-hover -->
							</li><!-- .employee --><!-- .employee
			
			-->
						<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									
										<img class="img-responsive" alt="" src="~/img/meclis/ahmetyaman.png">
										<span class="thumb-info-title">
											<h3 class="name" style="font-size:16px;">AHMET YAMAN</h3>
												<div class="role" style="font-size:15px;">Encümen Üyesi</div>	
											
										</span>
								</div><!-- .employee-hover -->
							</li><!-- .employee --><!-- .employee
							
			-->
			<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									
										<img class="img-responsive" alt="" src="~/img/meclis/mehmetyucel.png">
										<span class="thumb-info-title">
											<h3 class="name" style="font-size:16px;">MEHMET YÜCEL</h3>
											<div class="role" style="font-size:15px;">Encümen Üyesi</div>	
										
										</span>
								</div><!-- .employee-hover -->
							</li><!-- .employee --><!-- .employee

			-->
			<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									
										<img class="img-responsive" alt="" src="~/img/mudurler/ahmetbalbulmus.png">
										<span class="thumb-info-title">
											<h3 class="name" style="font-size:16px;">AHMET BALBULMUŞ</h3>
												<div class="role" style="font-size:15px;">Yazı İşleri Müdür V.</div>	
											
										</span>
								</div><!-- .employee-hover -->
							</li><!-- .employee --><!-- .employee
			-->				
							
			<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									
										<img class="img-responsive" alt="" src="~/img/mudurler/halitulusoy.png">
										<span class="thumb-info-title">
								<h3 class="name" style="font-size:16px;">HALİT ULUSOY</h3>
												<div class="role" style="font-size:15px;">Mali Hizmetler Müdür V.</div>	
		
										</span>
								</div><!-- .employee-hover -->
							</li><!-- .employee --><!-- .employee
			
			-->
			
					</div>

				</div>

			</div>