<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="default.asp">Ana Sayfa</a></li>
									<li class="active">Kurumsal</li>
									<li class="active">Meclis Komisyonları</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Meclis Komisyonları</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container" style="background-color:#FFFFFF;">
							
							
							
<!-- YAZI BÖLÜMÜ -->
<section id="main">
<div class="container">
    <div class="row">
      <article class="content col-sm-12 col-md-12">
		
		<header class="page-header">
    <div class="container">
      <h3 class="title" style="color:#c10841">MECLİS KOMİSYONLARI</h3>
    </div>	
  </header>	
		  
		  
		  <div class="row">
		<div class="bottom-padding col-sm-6 col-md-6">

		  
		  <div class="panel-group multi-collapse" id="accordion2">
			<div class="panel panel-default">
			  <div class="panel-heading">
				<div class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21" class="collapsed">
					Plan ve Bütçe Komisyonu
				  </a>
				</div>
			  </div>
			  <div id="collapse21" class="panel-collapse collapse" style="">
				<div class="panel-body">
				  <table class="table">
			  
			  <tbody>
				<tr class="active">
				  <td>Başkan</td>
				  <td>Ahmet YAMAN - AK Parti</td>
				</tr>
				<tr>
				  <td>Başkan Yrd.</td>
				  <td>Şener KAZCIOĞLU - AK Parti</td>

				</tr>
				<tr class="active">
				  <td>Üye</td>
				  <td>Hicret KARAMAN KAYMAK - AK Parti</td>

				</tr>
				
				<tr >
				  <td>Üye</td>
				  <td>Erdoğan KILIÇ - MHP</td>

				</tr>
				
				<tr class="active">
				  <td>Üye</td>
				  <td>Şaban ÖRS - İYİ Parti</td>

				</tr>
				
			  </tbody>
			</table>
				</div>
			  </div>
			</div>
			

		  </div>
		</div>

		<div class="bottom-padding col-sm-6 col-md-6">

		  
		  <div class="panel-group multi-collapse" id="accordion2">
			

			
			<div class="panel panel-default">
			  <div class="panel-heading">
				<div class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse31" class="collapsed">
					İmar Komisyonu
				  </a>
				</div>
			  </div>
			  <div id="collapse31" class="panel-collapse collapse">
				<div class="panel-body">

							 <table class="table">
			  
			  <tbody>
				<tr class="active">
				  <td>Başkan</td>
				  <td>Orhan AKBOĞA - AK Parti</td>
				</tr>
				<tr>
				  <td>Başkan Yrd.</td>
				  <td>Mehmet YÜCEL - AK Parti</td>

				</tr>
				<tr class="active">
				  <td>Üye</td>
				  <td>Yüksel MAZILI - AK Parti</td>

				</tr>
				
				<tr >
				  <td>Üye</td>
				  <td>Recep GÜLEÇ - AK Parti</td>

				</tr>
				
				<tr class="active">
				  <td>Üye</td>
				  <td>Barış ÖZYURT - İYİ Parti </td>

				</tr>
				
			  </tbody>
			</table>
				
				</div>
			  </div>
			</div>

		  </div>
		</div>
	  </div>
		  <div class="row text-center">

		</div>
		  

      </article><!-- .content -->
    </div>
  </div>
  </section>
<!-- .YAZI BÖLÜMÜ -->

					

			</div>