
			<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="default.asp">Ana Sayfa</a></li>
									<li class="active">Kurumsal</li>
									<li class="active">Yönetim Şeması</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Yönetim Şeması</h1>
							</div>
						</div>
					</div>
				</section>
			<div class="container" style="background-color:#FFFFFF;">

<img width="1300" src="~/img/resimler/yonetimsemasi.png"/>
	</div>
			

			
					</div>