@model Simav.Models.Videolar

@{
    ViewData["Title"] = "VideoDetayi";
}
<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a asp-controller="Home" asp-action="Index" >Ana Sayfa</a></li>
									<li class="active">Videolar</li>
									<li class="active">@Model.Ad</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>@Model.Ad</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container" style="background-color:#FFFFFF;">


					


					<div class="row">
						<div class="col-md-12">
							<div class="blog-posts">

								<article class="pos">
									

									


										<h2>@Model.Ad</h2>
										<p><iframe src="https://www.youtube.com/embed/@Model.Embed" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></p>
										
										<div class="post-meta">
											<span class="pull-right"><i class="fa fa-calendar"></i> @Model.Tarih </span>
											<span>&nbsp;</span>
										</div>

								</article>
								</div>
						</div>

					</div>

				</div>

			</div>
