<!-- #include file="ust.asp" -->

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="default.asp">Ana Sayfa</a></li>
                        <li class="active">Kurumsal</li>
                        <li class="active">eclis GündemleriM</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Meclis Gündemleri</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="background-color:#FFFFFF;">
        <!-- YAZI BÖLÜMÜ -->
        <!-- YAZI BÖLÜMÜ -->
        <br>
        <div class="container">
            <article class="content">
                <div class="row">
                    <div class="bottom-padding col-sm-6 col-md-4">
                        <a href="pdf/SKMDP_Basvuru_Rehberi.pdf" target="_blank">
                            <div class="frame frame-padding frame-shadow">
                                <img src="img/ortalink/7.png" width="380" height="200" alt="">
                            </div>
                        </a>
                    </div>



                </div>
            </article><!-- .content -->
        </div>
        <!-- .YAZI BÖLÜMÜ -->
        <!-- .YAZI BÖLÜMÜ -->

    </div>
</div>
	</article><!-- .content -->
<!-- #include file="alt.asp" -->